@font-face {
  font-family: "Dosis-Bold";
  src: url(./fonts/Dosis-Bold.ttf);
}

@font-face {
  font-family: "Dosis-ExtraBold";
  src: url(./fonts/Dosis-ExtraBold.ttf);
}

@font-face {
  font-family: "Dosis-Extra-Light";
  src: url(./fonts/Dosis-ExtraLight.ttf);
}

@font-face {
  font-family: "Dosis-Light";
  src: url(./fonts/Dosis-Light.ttf);
}

@font-face {
  font-family: "Dosis-Medium";
  src: url(./fonts/Dosis-Medium.ttf);
}

@font-face {
  font-family: "Dosis-Regular";
  src: url(./fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: "Dosis-SemiBold";
  src: url(./fonts/Dosis-SemiBold.ttf);
}

body {
  background-color: #f4ebd9;
}

#texto_logo {
  font-family: "Dosis-Bold";
  font-size: 28px;
}

#inicio {
  font-family: "Dosis-Regular";
}

#sobre_mim {
  font-family: "Dosis-Regular";
}

#contato {
  width: 220px;
  /*height: 220px;*/
  font-family: "Dosis-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  margin-top: 75px;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #f4ebd9;
}

.navbar a {
  text-decoration: none;
  color: #191919;
}

#imagem_background img {
  width: 100vw;
}

.background {
  background: url(./imgs/img_3.0.jpg) no-repeat center center;
  background-size: cover;
  height: 92vh;
}

#titulo {
  margin-left: 18vw;
  padding-top: 28vh;
  color: #fff;
  font-size: 2.5rem;
  float: left;
  vertical-align: top;
}

#sub_titulo {
  color: #fff;
  font-size: 1.2rem;
  padding-top: 35vh;
  margin-left: 16.8vw;
}

.img_background {
  width: 100vw;
  height: 100vh;
}

#paragrafo_sobre_mim {
  font-family: "Dosis-Regular";
  width: 500px;
  height: 403px;
  font-size: 22px;
  display: flex;
  margin-top: 25px;
  margin-left: 49vw;
  line-height: 36px;
}

.nome {
  font-family: "Dosis-ExtraBold";
  font-size: 38px;
  margin-top: 12vh;
  margin-left: 53vw;
}

#sobre_mim svg {
  width: auto;
  rotate: 180deg;
  opacity: 50%;
}

#sobre_mim img {
  margin-left: 8vw;
  width: 280px;
  margin-top: -400px;
}

#wave_paragrafo {
  margin-left: 50vw;
  margin-top: -530px;
}

.portfolio {
  background-color: #868279;
  margin-top: -1.5px;
  filter: drop-shadow(5px 15px 25px #868279);
}

.portfolio_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.portfolio svg {
  width: 30px;
  margin-bottom: 50px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.portfolio h3 {
  font-size: 22px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.portfolio img {
  width: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.imgs {
  margin: 0px 15vw 0px 15vw;
  columns: 5;
  column-gap: 10px;
}

#contato i {
  font-size: 35px;
  color: #df7b10;
}

#titulo_contato {
  font-size: 46px;
  margin-bottom: 10px;
}

#contato p {
  font-size: 26px;
  margin-bottom: 7px;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formulario input,
textarea {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
}

.formulario fieldset label {
  width: 50px;
  font-family: "Dosis-Extra-Light";
  font-size: 22px;
}

#mensagem {
  height: 120px;
}

form button {
  font-family: "Dosis-SemiBold";
  font-size: 24px;
  background-color: #df7b10;
  border: 0px;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
}
